---
- name: Email config file
  mail:
    from: "{{ from_address }}"
    to: "{{ to_address }}"
    subject: Connecitvity Test Report
    subtype: html
    host: "{{ smtp_server }}"
    attach: ./Connectivity_Report.txt
    body: |
      Connectivity test report.
